/* Estilos padrão */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Estilos para a barra de navegação */
.navbar {
    background: linear-gradient(to bottom, red, black);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

/* Estilos para o ícone de menu */
.menu-icon {
    cursor: pointer;
    order: 100;
    display: none;
}

/* Estilos para o menu suspenso */
.menu-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-dropdown a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.menu-dropdown.show-menu {
    display: block;
}

/* Estilos para a página de erro 404 */
.error-container {
    background-color: #fff;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #FF0000;
    margin-top: 20px;
}

p {
    font-size: 1rem;
    margin-top: 10px;
}

a {
    display: block;
    text-decoration: none;
    background-color: #FF0000;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #CC0000;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .menu-dropdown {
        top: 40px;
        right: 0;
    }
}
