/* Estilos para telas maiores */
.navbar {
    background: linear-gradient(to bottom, red, black);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 36px;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-dropdown a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.menu-dropdown.show-menu {
    display: block;
}

.menu-icon {
    cursor: pointer;
    order: 100;
}

/* Estilos para telas menores (responsivos) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .profile-pic {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    .navbar a {
        padding: 10px;
        margin: 5px 0;
    }
}
